:root {
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-blue: #0000ff;
}
.bg-main {
    background-color: rgb(30, 109, 30);
}
.bg-secondary {
    background-color: rgb(66, 66, 66);
}
.bg-tertiary {
    background-color: rgb(0, 0, 255);
}
