:root {
    --color-red: #ff0000;
    --color-green: #00ff00;
    --color-blue: #0000ff;
}
.bg-green {
    background-color: rgb(13, 118, 13);
}
.bg-red {
    background-color: rgb(255, 0, 0);
}
.bg-blue {
    background-color: rgb(0, 0, 255);
}